<p>
  <%= I18n.t('services.users.forgot_password.email_view.body.concept') %>
</p>

<a style="padding: 10px;" href=<%="#{ENV['BASE_APP']}/users/recover-password?subdomain=#{@enterprise.subdomain}&token=#{@user.reset_password_key}" %>>
  <button style="background-color: #8abd36;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    cursor: pointer;">
    <%= I18n.t('services.users.forgot_password.email_view.body.link') %>
  </button>
</a>

<p><%= I18n.t('services.users.forgot_password.email_view.body.concept2') %></p>

<span style="display: block; padding: 10px; background-color: #EFF1F4;">
  <%= "#{ENV['BASE_APP']}/users/recover-password?subdomain=#{@enterprise.subdomain}&token=#{@user.reset_password_key}" %>
</span>

<p><%= I18n.t('services.users.forgot_password.email_view.body.message') %></p>

<p><%= I18n.t('services.users.forgot_password.email_view.body.skip_message') %></p>