<p style="padding: 10px;">
  <%= I18n.t("services.answers_petitions.mail.nofify.body.concept") %>
</p>

<span style="display: block; width: 100%;">
  <hr style="border-bottom: 1px solid #FF2C5F;" />
</span>

<p style="display: block; padding: 10px; background-color: #EFF1F4;">
  <%= I18n.t("services.answers_petitions.mail.nofify.body.pqr", ticket: @petition.ticket) %>
</p>

<p style="padding: 10px;">
  <%= @answer.message %>
</p>

<a style="padding: 10px;" href=<%= "#{ENV['BASE_APP']}/petitions/detail/#{@petition.token}"%>>
  <button style="background-color: #8abd36;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    cursor: pointer;">
    <%= I18n.t('services.answers_petitions.mail.nofify.body.btn_view') %>
  </button>
</a>
